<launch>
    <group ns="camera">
        <rosparam file="$(find brobot_vision)/config/cam_config.yaml" />
        <node name="camera_tf_broadcaster" pkg="brobot_vision" type="camera_tf_broadcaster" />
        <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find brobot_vision)/rviz/imu_depthcloud_demo.rviz" />
        <node name="realsense_node" pkg="brobot_vision" type="realsense_node" output="screen" />

        <group ns="image_color" >
          <rosparam param="disable_pub_plugins">
            - 'image_transport/compressedDepth'
            - 'image_transport/theora'
          </rosparam>
        </group>

        <group ns="depth_map" >
          <rosparam param="disable_pub_plugins">
            - 'image_transport/compressedDepth'
            - 'image_transport/theora'
          </rosparam>
        </group>

        <group ns="depth" >
          <rosparam param="disable_pub_plugins">
            - 'image_transport/compressedDepth'
            - 'image_transport/compressed'
            - 'image_transport/theora'
          </rosparam>
        </group>

        <group ns="depth_raw" >
          <rosparam param="disable_pub_plugins">
            - 'image_transport/compressedDepth'
            - 'image_transport/compressed'
            - 'image_transport/theora'
          </rosparam>
        </group>
    </group>
</launch>
