<launch>

    <!-- Args -->
    <arg name="framerate"             default="15"/>
    <arg name="no_debug"              default="false"/>
    <!-- TODO: Add visualization -->

    <!-- Load the Realsense-->
    <include file="$(find pongrobot_perception)/launch/camera.launch">  
        <arg name="framerate" value="$(arg framerate)"/>
    </include>
    
    <!-- Load the TF Node -->
    <include file="$(find pongrobot_perception)/launch/tf_broadcaster.launch"/>  

    <!-- Load the euclidean cluster pipeline-->
    <include file="$(find pongrobot_perception)/launch/euclidean_cluser.launch">
        <arg name="no_debug" value="$(arg no_debug)"/>
    </include>

    <!-- Load up the table detector pipeline-->
    <include file="$(find pongrobot_perception)/launch/table_detector.launch">
        <arg name="no_debug" value="$(arg no_debug)"/>
    </include>

</launch>