<launch>
    <group ns="camera">
        <rosparam file="$(find pongrobot_perception)/config/cam_config.yaml" />
        <node name="tf_broadcaster" pkg="pongrobot_perception" type="tf_broadcaster" />
        <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/brobot_tf" />
    </group>
</launch>
