<launch>
    <arg name="serial_no"             default=""/>
    <arg name="json_file_path"        default=""/>
    <arg name="camera"                default="camera"/>

    <rosparam file="$(find pongrobot_perception)/config/rate_config.yaml" ns="rate" />
    <rosparam file="$(find pongrobot_perception)/config/frame_config.yaml" ns="frame" />

    <group ns="$(arg camera)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="serial_no"         value="$(arg serial_no)"/>
            <arg name="json_file_path"    value="$(arg json_file_path)"/>
            <arg name="initial_reset"     value="true"/>
            <arg name="depth_width"       value="640"/>
            <arg name="depth_height"      value="480"/>
            <arg name="depth_fps"         value="15"/>
            <arg name="color_width"       value="640"/>
            <arg name="color_height"      value="480"/>
            <arg name="color_fps"         value="15"/>
            <arg name="enable_depth"      value="true"/>
            <arg name="enable_color"      value="true"/>
            <arg name="enable_infra1"     value="false"/>
            <arg name="enable_infra2"     value="false"/>
            <arg name="enable_fisheye"    value="false"/>
            <arg name="enable_gyro"       value="false"/>
            <arg name="enable_accel"      value="false"/>
            <arg name="enable_pointcloud" value="true"/>
            <arg name="enable_sync"       value="true"/>
            <arg name="tf_prefix"         value="$(arg camera)"/>
        </include>

        <node name="tf_broadcaster" pkg="pongrobot_perception" type="tf_broadcaster" />
        <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/brobot_tf" />
    </group>
    

    <group ns="socket">
        <node name="socket_telemetry_node" pkg="pongrobot_perception" type="socket_telemetry_node" output="screen" />
    </group>

    <group ns="detector">
        <rosparam file="$(find pongrobot_perception)/config/detector_config.yaml" />
        <node name="cup_detector_node" pkg="pongrobot_perception" type="cup_detector_node" output="screen" />
        <node name="calibrator_node" pkg="pongrobot_perception" type="calibrator_node" output="screen" />
    </group>

    <group ns="game">
        <rosparam file="$(find pongrobot_perception)/config/game_config.yaml" />
        <node name="game_logic_node" pkg="pongrobot_perception" type="game_logic_node" output="screen" />
    </group>

    <node name="video_stream" pkg="web_video_server" type="web_video_server"/>

    <include file="$(find pongrobot_actuation)/launch/launcher_headless.launch" />
</launch>

